<!DOCTYPE html>
<html>
    <head>
        <title>Property Investment Made Simple</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <section id="banner">
        <img src="images/logo.png" class="logo">
        <div class="banner-text">
            <h1>Access Admin Page</h1>
            <div>
                <form action="../../prototype-it2002/app.py" method="post" class="banner-btn">
                    <h3 style="color:rgb(158, 44, 44);">Invalid</h3>
                    <input type="text" id="userid" name="userid" placeholder=" ID" style="color:black;">
                    <br>
                    <input type="password" name="password" placeholder=" Password" style="color:black;">
                    <br>
                    <input type="submit" value="Log In" class="banner-btn a" style="color:#fff; opacity: 1; background-color: transparent;">
                </form>
            </div>
        </div>
    </section>

    </body>
</html>