<!DOCTYPE html>
<html>
<head>
	<title>table</title>
    <style>
		body {
			background-image: url(https://images.pexels.com/photos/323705/pexels-photo-323705.jpeg?auto=compress&cs=tinysrgb&w=800);
			background-size: cover;
		}
		table {
			margin: 0 auto;
			width: 80%;
			border-collapse: collapse;
		}
	
		/* Add borders to table rows and columns */
		table, th, td,h1 {
			border: 1px solid rgb(255, 255, 255);
			padding: 10px;
			text-align: center;
			color: rgb(15, 11, 11);
			background-color: #c1c4ca;
		}
    </style>
</head>
<body>
	<h1>Transaction Information</h1>
	<table>
		<thead>
			<tr>
				<th>Transaction ID</th>
				<th>IC Number</th>
				<th>Property ID</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for row in results %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
				<td>{{ row[3] }}</td>
				<td><form action="/delete_transaction_listing/" method="post">
                    <input type="hidden" name="transaction_id" value="{{ row[0] }}">
                    <button class = 'delete-button' type="submit">&#x2715;</button>
                </form></td>
			</tr>
			{% endfor %}
			<tr><form action="/add_transaction/" method="get">
				<td><input type="text" id="transaction_id" name="transaction_id" placeholder=" Transaction ID" style="color:black;"></td>
				<td><input type="text" id="ic_number" name="ic_number" placeholder=" IC number" style="color:black;"></td>
				<td><input type="text" id="property_id" name="property_id" placeholder=" Property ID" style="color:black;"></td>
				<td><input type="text" id="amount" name="amount" placeholder=" Amount" style="color:black;"></td>
			</tr>
		</tbody>
	</table>
	<div style="text-align:center;">
    <button class = 'btn-addlisting' type="submit" >Add New Transaction</button>
    </div></form>
</body>
</html>
